# Игнориране на всички изпълними файлове
*.exe
*.out

# Игнориране на междинни компилационни файлове
*.o
*.obj

# По избор: Ако не искаш да качваш локалните си настройки на VS Code
.vscode/

.cursor/
.cursorrules
.vscode/